body{
    box-sizing: border-box;
    background-color: cadetblue;
}
#form-container{
    margin: 40px auto;
    width: 400px;
    padding: 60px;
    background-color: white;
    margin-top:100px;
}
#form{
    display: flex;
    flex-direction: column;
    max-width:400px;
    justify-content: center;
    margin: 30px auto;   
}
input{
    border-width:2px;
    margin-bottom: 10px;
    height: 30px;
    border-radius: 4px;
}
label{
    margin-bottom: 3px;
}
.hidden{
    display: none;
}
 .confirmation-container{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 .contentScreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10%;
}
 .valid-acception{
    width: 30%;
    background-color:white;
    border-radius:29px;
    padding:20px;  
 }
 .error{font-size: small;
    float: right;
    color: brown;  
}
#submit{
    margin-top: 20px;
    height: 40px;
    font-size: 20px;
}
#search{
    margin-top: 70px;
    font-size: 20px; 
    display: flex;  
    flex-direction:column;
}
#search>input{
    width: 600px;
    padding:10px;
}
#search>button{
   width:auto;
   height: 40px;
}
h2 a{
    text-decoration:none;
}
h2 a:hover{
    color: black;
}
#results-container{
    font-size: 20px;
    font-weight: 800;
}
#search>label{
    color: white;
    font-size: 25px;
}
#search>input{
    font-size: 15px;
}
#results-container{ 
    font-size: 25px;
}
#results-container-list{
    display:block;
    font-size: 25px;
    background-color: white; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 40px;
}
#buton>button{
    padding: 10px 20px;
}


